* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  padding: 10px 0 10px 15px;
  background-image: linear-gradient(
    to right,
    hsl(236, 68%, 43%),
    rgb(28, 28, 92)
  );
}

.container {
  display: flex;
  gap: 35px;
  margin-top: 50px;
  padding: 30px;
}

/* Search column */
.weather-input input {
  width: 100%;
  height: 46px;
  outline: none;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  font-size: 1rem;
}

.weather-input {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Buttons */
.weather-input input,
.weather-input button,
.weather-input .location-btn {
  width: 100%;
  height: 46px;
  font-size: 1rem;
  padding: 0 17px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

/* Styles for search button */
.weather-input button {
  background-image: linear-gradient(
    to right,
    hsl(236, 55%, 55%),
    rgb(65, 65, 155)
  );
  color: white;
  cursor: pointer;
}

/* Styles for saved city/location buttons */
.weather-input .location-btn {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: gray;
}

/* Weather data layout */
.weather-data {
  width: 100%;
}

.current-weather {
  display: none;
  border: 1px solid black;
  padding: 20px 70px 20px 20px;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather .icon img {
  max-width: 80px;
  margin-top: -10px;
}

.current-weather h2 {
  font-size: 2rem;
  font-weight: bold;
}

.card,
input,
button {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

small {
  display: block;
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 4px;
}

/* Forecast text styles */
.days-forecast h2 {
  font-size: 30px;
  margin: 20px 0;
}

/* Forecast cards */
.weather-cards {
  display: flex;
  width: 100%;
  height: 300px;
  gap: 20px;
}

.weather-cards .card {
  background: rgb(4, 4, 43);
  list-style: none;
  color: white;
  padding: 20px 9px 0 15px;
  width: calc(100% / 5);
  animation: pulse 3s infinite;
}

.weather-cards .card img {
  max-width: 50px;
  margin: 3px 0 6px 0;
}

/* Hover effect */
button:hover {
  background-color: #3a3a90;
  transform: scale(1.03);
  transition: 0.2s ease;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }

  .weather-input {
    width: 80%;
    max-width: 100%;
  }

  .weather-input .separator {
    display: none;
  }

  #recent-searches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 100%;
  }

  .search-btn {
    width: 150px;
    height: 40px;
    font-size: 0.9rem;
  }

  .weather-cards {
    width: 100%;
    display: block;
    height: auto;
    gap: 0;
  }

  .weather-cards .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
  }

  .weather-cards .card img {
    order: 2;
    max-width: 50px;
    margin: 0;
  }

  .days-forecast h2 {
    font-size: 25px;
  }

  .days-forecast h3 {
    font-size: 16px;
  }

  .days-forecast h6 {
    font-size: 12px;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
